* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-songcard:hover {
  background-color: #3f3e3e;
}
.overflow-hidden {
  overflow: hidden;
}

.truncate {
  white-space: nowrap;
  text-overflow: ellipsis;
}
