@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  background-color: black;
  color-scheme: dark;
}

/* Scroll bar for sidebar */
.scrollbar::-webkit-scrollbar {
  width: 6px;
  border: 1px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #929292;
}
