@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0 !important;

  --backgroundColorShade: rgba(0, 0, 0, 0.5);
  --background-tinted-base: hsla(0, 0%, 100%, .07);

  --custom-scrollbar-width: 12px;
  --custom-scrollbar-background: #f1f1f1;
  --custom-scrollbar-thumb-background: #888;
  --custom-scrollbar-thumb-hover-background: #555;

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #393838;
    border-radius: 1px;
  }
}

.wrapper {
  height: calc(100% - 74px);
  display: flex;
  padding: 8px;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    padding: 0 !important;
  }

}


@layer utilities {

  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .h-calc-screen {
    max-height: calc(100vh - 10px);
  }


  .hover\:bg-cardHoverBG:hover .hidden {
    display: block;
    /* transform: translateY(-8px); */
  }

  /* .hover\:bg-cardHoverBG:hover .hidden {
    display: block;
    transition: transform 5s ease;
    transform: translateY(-8px);
  } */

  .breakWord {
    overflow-wrap: break-word;
  }


  .backgroundHeaderShade {
    background-color: var(--backgroundColorShade, transparent);
  }

  .dimNavBG {
    background-color: rgba(0, 0, 0, .5);
  }

  .text-showAllColor:hover {
    color: white;
    transition: color 0.3s ease;
  }


  .backgroundTintedBase {
    background-color: var(--background-tinted-base, rgba(0, 0, 0, 0.08));
  }

  .dot::after {
    content: "•";
  }

  .dimSongHoverBG {
    background-color: hsla(0, 0%, 100%, .1);
  }

  .hover\:dimSongHoverBG:hover .hidden {
    display: block;
    /* transform: translateY(-8px); */
  }

  /* @media (min-width: 800px) {
    .rowDiv {
        width: 100vw !important;
        overflow-x: auto;
    }
} */

}